<li class="cd-schedule__event" style="top: 49px; height: 101px">
<a data-start="{{start}}" data-end="{{end}}" data-content="{{status}}" data-event="event-{{reservation_number}}" href="#0" res-ID={{reservation_number}} user-id={{id}}>
<em class="cd-schedule__name">{{status}}</em>
</a>
</li>
