<li class="cd-schedule__event" style="top: 49px; height: 101px">
<a data-start="{{start}}" data-end="{{end}}" data-content="{{instructorID}}" data-event="event-{{reservation_number}}" href="#0">
<em class="cd-schedule__name">{{status}} {{instructor}}</em>
</a>
</li>