{{!-- partial(s) for displaying all avaialable timeslots --}}

<li class="cd-schedule__event event-{{reservation_number}} bg-success" style="top: 49px; height: 101px">
<a data-start="{{start}}" data-end="{{end}}" data-content="{{status}}" data-event="event-{{reservation_number}}" href="#0">
<em class="cd-schedule__name">{{status}}</em>
</a>
</li>
