{{!--partial for reservations--}}

{{#each reservation}}
<ul>
    <li class="cd-schedule__event">
        <a data-start="{{start}}" data-end="{{end}}"  data-content="{{eventType}}" data-event="event-3" href="#0">
            <em class="cd-schedule__name">{{dayoftheweek}} : {{reservation_number}}</em>
        </a>
    </li>
</ul>
{{/each}}



{{!--
    stuff to use later? 

    {{#> myPartial }}
  Failover content
{{/myPartial}}

<ul>
             <li class="cd-schedule__event">
    <a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">
      <em class="cd-schedule__name">Yoga Level 1</em>
    </a>
  </li>
          </ul>


--}}
